# ignore all training materials
Training/
flask-base/
Code/venv/
Code/test/
env/.vagrant/
env/data/
Code/__pycache__/
materials/Flask-Admin-Dashboard
materials/Sn1per
Code/tasks/__pycache__
materials/vuldb-api-python-examples
Code/screenshots
utils/__pycache__
env/ubuntu-bionic-18.04-cloudimg-console.log
env/openvas/ubuntu-bionic-18.04-cloudimg-console.log
Code/utils/__pycache__/