<!DOCTYPE html>
<html>
<head>
	<title>Domain Dashboard</title>
</head>
<body>
	<h1>Dashboard</h1>
	<div class="vertical-menu">
		<a href="#" class="active">Home</a>
		<a href="{{ url_for('domain_dashboard') }}">Dashboard</a>
		<a href="{{ url_for('api.subdomain', domain_name='example.com') }}">Link 2</a>
		<a href="#">Link 3</a>
		<a href="#">Link 4</a>
	</div>
	List Domains:
	<table border="1px">
		<tr>
			<th>ID</th>
			<th>Domain Name</th>
			<th>Organization</th>
			<th>IP</th>
			<th>Number Of Subdomains</th>
			<th>Edit</th>
			<th>Delete</th>
			<th>Subdomain Enumeration</th>
			<th>View</th>
			<th>Status</th>
			<th>Subdomain Scan Task ID</th>
		</tr>
		{% for domain in domains %}
		<tr>
			<td>{{ domain['_id'] }}</td>
			<td><a href="{{ url_for('api.subdomain', domain_name=domain['domain_name']) }}">{{ domain['domain_name'] }}</a></td>
			<td>{{ domain['org_name'] }}</td>
			<td>{{ domain['ips'] }}</td>
			<td>{{ domain['number_of_subdomains'] }}</td>
			<td><a href="{{ url_for('edit_domain', domain_name=domain['domain_name']) }}">Edit</a></td>
			<td><form action="{{ url_for('api.subdomain', domain_name=domain['domain_name']) }}" method="POST">
				<input type="hidden" name="_method" value="DELETE">
				<input type="submit" value="Delete">
			</form></td>
			{% if domain %}
			<td><a href="{{ url_for('subdomain_enumeration', domain_name=domain['domain_name']) }}">Scan</a></td>

			{% else %}
			<td></td>
			{% endif %}
			<td><a href="{{ url_for('api.subdomain', domain_name=domain['domain_name']) }}">View</a></td>

			<td>{{ domain['task_status'] }}</td>
			<td>{{ domain['subdomain_enum_task_id'] }}</td>
		</tr>
		{% endfor %}
	</table>
	<a href="{{ url_for('create_domain') }}">Create new one</a>

	<script type="text/javascript">

	</script>
</body>
</html>