<!DOCTYPE html>
<html>
<head>
	<title>IP Dashboard</title>
	<meta http-equiv="refresh" content="5"/>
</head>
<body>
	<h1>Dashboard</h1>
	<div class="vertical-menu">
		<a href="#" class="active">Home</a>
		<a href="{{ url_for('domain_dashboard') }}">Dashboard</a>
		<a href="{{ url_for('api.ips') }}">IP Dashboard</a>
		<a href="{{ url_for('google_hacking_dashboard') }}">Google Hacking Queries</a>
		<a href="{{ url_for('vuln_db_dashboard') }}">Vuln Database</a>
	</div>
	List IPs:
	<table border="1px">
		<tr>
			<th>ID</th>
			<th>IP</th>
			<th>WHOIS Data</th>
			<th>Status</th>
			<th>Hostname</th>
			<th>TCP Port</th>
			<th>Nmap Result</th>
			<th>Edit</th>
			<th>Delete</th>
			<th>Port Scan</th>
			<th>View</th>
			<th>Task Status</th>
			<th>Port Scan Task ID</th>
		</tr>
		{% for ip in ips %}
		<tr>
			<td>{{ loop.index }}</td>
			<td><a href="">{{ ip['ip'] }}</a></td>
			<td>{{ ip['whois'] }}</td>
			{% if ip['status'] == 1 %}
			<td>Active</td>
			{% else %}
			<td>Down</td>
			{% endif %}
			<td>{{ ip['hostnames'] }}</td>
			{% if 'scan' in ip and ip['ip'] in ip['scan'] %}
			<td>{{ ip['scan'][ip['ip']]['tcp'] }}</td>
			{% else %}
			<td>No Result</td>
			{% endif %}
			<td>{{ ip[''] }}</td>
			<td><a href="{{ url_for('edit_ip', ip=ip['ip']) }}">Edit</a></td>
			<td><form action="{{ url_for('api.ip', ip=ip['ip']) }}" method="POST">
				<input type="hidden" name="_method" value="DELETE">
				<input type="submit" value="Delete">
			</form></td>
			{% if ip %}
			<td><a href="{{ url_for('ip_scan', ip=ip['ip']) }}">Scan</a></td>

			{% else %}
			<td></td>
			{% endif %}
			<td><a href="{{ url_for('api.ip', ip=ip['ip']) }}">View</a></td>

			<td>{{ ip['task_status'] }}</td>
			<td>{{ ip['port_scan_task_id'] }}</td>
		</tr>
		{% endfor %}
	</table>
	<a href="{{ url_for('create_ip') }}">Create new one</a>

	<script type="text/javascript">

	</script>
</body>
</html>