{% extends 'templates/template.html' %}
{% block content %}
<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>IP Detail</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">IP Detail</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>


      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="callout callout-info">
                <h5><i class="fas fa-info"></i> Note:</h5>
                You need to refresh page to get updated result after task done!
              </div>
  
  
              <!-- Main content -->
              <div class="invoice p-3 mb-3">
                <!-- title row -->
                <div class="row">
                  <div class="col-12">
                    <h4>
                      <i class="fas fa-globe"></i> {{ ip['ip'] }}.
                      <small class="float-right">Date: 02/06/2020</small>
                    </h4>
                  </div>
                  <!-- /.col -->
                </div>

                {% if 'scan' in ip and ip['ip'] in ip['scan'] %}
                <div class="row">
                    <h4><small>Hostname: {{ ip['scan'][ip['ip']]['hostnames'][0]['name'] }}</small></h4><br>
                    {% if 'scan' in ip and 'osmatch' in ip['scan'][ip['ip']] %}
                    <h4><small>OS: {{ ip['scan'][ip['ip']]['osmatch'][0]['name'] }} Accurate: {{ ip['scan'][ip['ip']]['osmatch'][0]['accuracy'] }} % </small></h4>
                    <br>
                    <h4><small>CPE: {{ ip['scan'][ip['ip']]['osmatch'][0]['osclass'][0]['cpe'] }}</small></h4>
                    {% endif %}
                </div>
                {% endif %}


                <!-- info row -->
                <div class='row'>
                    <h4>
                        <small>Whois Data</small>
                    </h4>
                </div>
                {% if 'whois' in ip %}
                <div class="row invoice-info">
                  <div class="col-sm-4 invoice-col">
                    <address>
                      Nir: {{ ip['whois']['nir'] }}<br>
                      ASN Registry: {{ ip['whois']['asn_registry'] }}<br>
                      ASN: {{ ip['whois']['asn'] }}<br>
                      ASN CIDR: {{ ip['whois']['asn_cidr'] }}<br>
                    </address>
                  </div>
                  <!-- /.col -->
                  <div class="col-sm-4 invoice-col">
                    <address>
                      ASN Country Code: {{ ip['whois']['asn_country_code'] }}<br>
                      ASN Date: {{ ip['whois']['asn_date'] }}<br>
                      ASN Description: {{ ip['whois']['asn_description'] }}<br>
                      795 Folsom Ave, Suite 600<br>
                    </address>
                  </div>
                  <!-- /.col -->
                  <div class="col-sm-4 invoice-col">
                    <address>
                      Raw: {{ ip['whois']['raw'] }}<br>
                      Referal: {{ ip['whois']['referral'] }}<br>
                      Raw Referal: {{ ip['whois']['raw_referral'] }}<br>
                    </address>
                  </div>
                  <!-- /.col -->
                </div>
                {% endif %}
                <!-- /.row -->
                <div class='row'>
                    <h5>
                        <small>Net Block</small>
                    </h5>
                </div>
                <!-- Table row -->
                <div class="row">

                  <div class="col-12 table-responsive">
                    <table class="table table-striped">
                      <thead>
                      <tr>
                        <th>ID</th>
                        <th>CIDR</th>
                        <th>Name</th>
                        <th>Handle</th>
                        <th>Range</th>
                        <th>Description</th>
                        <th>Country</th>
                        <th>State</th>
                        <th>City</th>
                        <th>Address</th>
                        <th>Postal Code</th>
                        <th>Created</th>
                        <th>Updated</th>
                      </tr>
                      </thead>
                      <tbody>
                      {% if 'whois' in ip %}
                      {% for n in ip['whois']['nets'] %}
                      <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ n['cidr'] }}</td>
                        <td>{{ n['name'] }}</td>
                        <td>{{ n['handle'] }}</td>
                        <td>{{ n['range'] }}</td>
                        <td>{{ n['description'] }}</td>
                        <td>{{ n['country'] }}</td>
                        <td>{{ n['state'] }}</td>
                        <td>{{ n['city'] }}</td>
                        <td>{{ n['address'] }}</td>
                        <td>{{ n['postal_code'] }}</td>
                        <td>{{ n['created'] }}</td>
                        <td>{{ n['updated'] }}</td>
                      </tr>
                      {% endfor %}
                      {% endif %}
                      </tbody>
                    </table>
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->

                <div class='row'>
                    <h4>
                        <small>Host Script Result</small>
                    </h4>
                </div>

                <div class="row">
                    <div class="col-12 table-responsive">
                        {% if 'scan' in ip %}
                        <table class="table table-striped">
                          <thead>
                          <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Output</th>
                          </tr>
                          </thead>
                          <tbody>
                          {% for s in ip['scan'][ip['ip']['hostscript']] %}
                          <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ s['id'] }}</td>
                            <td>{{ s['output'] }}</td>
                          {% endfor %}
                          </tbody>
                        </table>
                        {% endif %}
                      </div>
                </div>

                <div>Full Port Scan: <a href="{{ url_for('full_port_scan', ip=ip['ip']) }}">Launch</a></div>
                <div>Vulner Scan: <a href="{{ url_for('vuln_script_scan', ip=ip['ip']) }}">Launch</a></div>

                <div class='row'>
                    <h4>
                        <small>Ports</small>
                    </h4>
                </div>


                <div class="row">
                    <div class="col-12 table-responsive">
                        {% if 'scan' in ip %}
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Screenshot</th>
                                <th>Port</th>
                                <th>Type</th>
                                <th>State</th>
                                <th>Service</th>
                                <th>Product Version</th>
                                <th>Reason</th>
                                <th>Vulners</th>
                                <th>Edit</th>
                                <th>Delete</th>
                                <th>View</th>
                                <th>Script Result</th>
                                <th>Technology</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if 'scan' in ip and ip['ip'] in ip['scan'] %}
                            {% for port, service in ip['scan'][ip['ip']]['tcp'].items() %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td><img src="/images/{{ service['screenshot'] }}" alt="" width="50px"></td>
                                <td><a href="">{{ port }}</a></td>
                                <td>TCP</td>
                                <td>{{ service['state'] }}</td>
                                <td>{{ service['name'] }}</td>
                                <td>{{ service['product'] + ' ' + service['version'] }}</td>
                                <td>{{ service['reason'] }}</td>
                                {% if 'vulners' in ip %}
                                <td>{{ ip['vulners'] }}</td>
                                {% else %}
                                <td>None</td>
                                {% endif %}
                                <td><a href="{{ url_for('test') }}">Edit</a></td>
                                <td><form action="{{ url_for('test') }}" method="POST">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input class="btn btn-block btn-danger btn-xs" type="submit" value="Delete">
                                </form></td>
                                <!-- <td><a href="{{ url_for('test') }}">Scan</a></td> -->
                    
                                <td><a class="btn btn-block btn-info btn-xs" href="{{ url_for('test') }}">View</a></td>
                                <td>
                                    <!-- {{ service['script'] }} -->
                                    {% if 'script' in service %}
                                    {% for n, s in service['script'].items() %}
                                    <div class="callout callout-info">
                                        <p><strong>{{ n }}</strong>: {{ s }}</p>

                                    </div>
                                  
                                    {% endfor %}
                                    {% endif %}
                                </td>
                                <td>{{ service['apps'] }}</td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                        {% endif %}
                      </div>
                </div>

                <a href="{{ url_for('script_scan', ip=ip['ip']) }}">Default Script Scan</a>
                <br>
                <a href="{{ url_for('vuln_scan', ip=ip['ip']) }}">Vulnerability Script Scan</a>
                <br>
                <a href="{{ url_for('detect_tech', ip=ip['ip']) }}">Get Tech of HTTP Service</a>
                <br>
        </div><!-- /.container-fluid -->

        <div class='row'>

        Scan scripts:
        <br>
        <table border="1px">
            <tr>
                <th>ID</th>
                <th>Pick</th>
                <th>Scan type</th>
                <th>Task ID</th>
                <th>Task Status</th>
            </tr>
            <form action="{{ url_for('custom_script_scan', ip=ip['ip']) }}" method="POST">
                {% for scan_type in scan_type_list %}
                <tr {% if 'status_scan' in ip and ip["status_scan"][scan_type] == 1 %} class="disabled" {% endif %}>
                    <td>{{ loop.index }}</td>
                    <td>
                        <input type="checkbox" value="{{ scan_type }}" name="scan_type[]">
                    </td>
                    <td>{{ scan_type }}</td>
                    <td></td>
                    {% if 'status_scan' in ip and ip['status_scan'][scan_type] == 1 %}
                    <td>Check</td>
                    {% endif %}
                </tr>
                {% endfor %}
                
        </table>
                <input type="submit" value="Scan">
            </form>
        </div>
      </section>




</div>

{% endblock %}