{% extends 'templates/template.html' %}
{% block content %}
	<div class="content-wrapper">
	<div class="row">
		<div class="card card-warning">
			<div class="card-header">
				<h3 class="card-title">Create new Service</h3>
			</div>
		<div class="card-body">


	<form action="{{ url_for('api.services') }}" method="POST">


		<div class="row">
			<div class="col-sm-12">
			<div class="form-group">
				<label>Service name</label>
				<input name="service_name" type="text" class="form-control" placeholder="Enter ...">
			</div>
			</div>
		</div>


		
		<div class="row">
			<div class="col-sm-12">
			<div class="form-group">
				<label>Description</label>
				<input name="description" type="text" class="form-control" placeholder="Enter ...">
			</div>
			</div>
		</div>



		<label>Protocol</label>
        <div>
        <input type="checkbox" id="tcp" name="protocol" value="tcp"
                >
        <label for="tcp">TCP</label>
        </div>

        <div>
        <input type="checkbox" id="udp" name="protocol" value='udp'>
        <label for="udp">UDP</label>
        </div>

        <label for="">TLS</label>
        <input type="radio" value="1" name="tls">Yes
        <input type="radio" value="0" name="tls">No
        <br>

		
		<div class="row">
			<div class="col-sm-12">
			<div class="form-group">
				<label>Common Port</label>
				<input name="common_port" type="text" class="form-control" placeholder="Enter ...">
			</div>
			</div>
		</div>

		<input type="submit" value="Create">
	</form>
	
	
{% endblock %}