{% extends 'templates/template.html' %}
{% block content %}
	<div class="content-wrapper">
	<div class="row">
		<div class="card card-warning">
			<div class="card-header">
				<h3 class="card-title">Service Edit</h3>
			</div>
		<div class="card-body">

	<form action="{{ url_for('api.service', service_id=service['_id']) }}" method="POST">
        <input type="text" hidden name="_method" value="PUT">

		<div class="row">
			<div class="col-sm-12">
			<div class="form-group">
				<label>Service name</label>
				<input name="service_name" type="text" class="form-control" placeholder="Enter ..." value="{{ service['service_name'] }}">
			</div>
			</div>
		</div>


		
		<div class="row">
			<div class="col-sm-12">
			<div class="form-group">
				<label>Description</label>
				<input name="description" type="text" class="form-control" placeholder="Enter ..." value="{{ service['description'] }}">
			</div>
			</div>
		</div>


		<label>Protocol</label>
        <div>
        <input type="checkbox" id="tcp" name="protocol" value="tcp"
                {% if 'tcp' in service['protocol'] %} checked {% endif %}>
        <label for="tcp">TCP</label>
        </div>

        <div>
            <input type="checkbox" id="udp" name="protocol" value='udp' {% if 'udp' in service['protocol'] %} checked {% endif %}>
            <label for="udp">UDP</label>
        </div>


        <label for="">TLS</label>
        {% if ("tls" in service and service['tls'] == "1") %}
        <input type="radio" value="1" name="tls" checked="checked">Yes
        <input type="radio" value="0" name="tls">No
        {% elif ("tls" in service and service["tls"] == "0") %}
        <input type="radio" value="1" name="tls">Yes
        <input type="radio" value="0" name="tls" checked="checked">No
        {% else %}
        <input type="radio" value="1" name="tls">Yes
        <input type="radio" value="0" name="tls">No
        {% endif %}
        <br>

		
		<div class="row">
			<div class="col-sm-12">
			<div class="form-group">
				<label>Common Port</label>
				<input name="common_port" type="text" class="form-control" placeholder="Enter ..." value="{{ service['common_port'] }}">
			</div>
			</div>
		</div>

		<input type="submit" value="Update">
	</form>

    </div>
    </div>
    </div>
	</div>

{% endblock %}