<!DOCTYPE html>
<html>
<head>
	<title>Subdomain Dashboard</title>
</head>
<body>
	<h1>Subdomain Dashboard</h1>
	<h2>Domain: {{ domain['domain_name'] }}</h2>
	<h3><a href="{{ url_for('api.domains') }}">Back</a></h3>
	List Domains:
	<table border="1px">
		<tr>
			<th>ID</th>
			<th>Subdomain Name</th>
			<th>IP</th>
			<th>Status</th>
			<th>Delete</th>
			<th>IP Scan</th>
		</tr>
		{% for subdomain in domain['subdomains'] %}
		<tr>
			<td>{{ loop.index }}</td>
			<td>{{ subdomain['domain_name'] }}</td>
			<td>{{ subdomain['ip'] }}</td>
			<td>{{ subdomain['status'] }}</td>
			<td>
				<form action="{{ url_for('api.subdomain', domain_name=domain['domain_name']) }}" method="POST">
					<input type="hidden" name="_method" value="DELETE">
					<input type="hidden" name="domain_name" value="{{ subdomain['domain_name'] }}">
					<input type="hidden" name="type" value="sub">
					<input type="submit" value="Delete">
				</form>
			</td>
			<td><a href="{{ url_for('ip_scan', ip=subdomain['ip']) }}"></a></td>
		</tr>
		{% endfor %}
	</table>
</body>
</html>