<!DOCTYPE html>
<html>
<head>
	<title>Vulnerabilities Dashboard</title>
	<meta http-equiv="refresh" content="5"/>
</head>
<body>
	<h1>Dashboard</h1>
	{% include 'menu.html' %}
	List IPs:
	<table border="1px">
		<tr>
			<th>ID</th>
            <th>Service</th>
            <th>Vuln Name</th>
			<th>Product</th>
			<th>Version</th>
            <th>Script</th>
            <th>Detail</th>
            <th>Mitigation</th>
			<th>Avaiable Exploit</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
		{% for vuln in vulns %}
		<tr>
            <td>{{ loop.index }}</td>
            <td>{{ vuln['service'] }}</td>
            <td>{{ vuln['vuln_name'] }}</td>
            <td>{{ vuln['product'] }}</td>
            <td>{{ vuln['version'] }}</td>
            <td>{{ vuln['script'] }}</td>
            <td>{{ vuln['detail'] }}</td>
			<td>{{ vuln['mitigation_methods'] }}</td>
			<td>{{ vuln['available_exploit'] }}</td>
			<td><a href="{{ url_for('edit_vuln', vuln_id=vuln['_id']) }}">Edit</a></td>
			<td><form action="{{ url_for('api.vuln', vuln_id=vuln['_id']) }}" method="POST">
				<input type="hidden" name="_method" value="DELETE">
				<input type="submit" value="Delete">
			</form></td>
		</tr>
		{% endfor %}
	</table>
	<a href="{{ url_for('create_vuln') }}">Create new one</a>

	<script type="text/javascript">

	</script>
</body>
</html>