{% extends 'templates/template.html' %}
{% block content %}
	<div class="content-wrapper">
	<div class="row">
		<div class="card card-warning">
			<div class="card-header">
				<h3 class="card-title">Create new Vulnerability</h3>
			</div>
		<div class="card-body">

	<form action="{{ url_for('api.vulns') }}" method="POST">


		<!-- select box -->
		<div class="row">
			<div class="col-sm-12">
			<div class="form-group">
				<label>Service</label>
				<input name="service" type="text" class="form-control" placeholder="Enter ...">
			</div>
			</div>
		</div>


		<div class="row">
			<div class="col-sm-12">
			<div class="form-group">
				<label>Service</label>
				<input name="service" type="text" class="form-control" placeholder="Enter ...">
			</div>
			</div>
		</div>

		<label>Service</label>

		<select name="service" id="service">
			{% for service in services %}
			<option value="{{ service['service_name'] }}">{{ service['service_name'] }}</option>
			{% endfor %}
		</select>
		<br>

		<label>Vuln Name</label>
		<input type="text" name="vuln_name">
		<br>

		<label>Product</label>
		<input type="text" name="product">
		<br>

		<label>Version</label>
		<input type="text" name="version">
		<br>

		<label for="script">Script</label>
		<input type="text" name="script">
		<br>

		<label for="detail">Detail</label>
		<input type="text" name="detail">
		<br>

		<label for="mitigation_methods">Mitigation Methods</label>
		<input type="text" name="mitigation_methods">
		<br>

		<label for="available_exploit">Available Exploit</label>
		<br>
		<label for="">Yes</label>
		<input type="radio" name="available_exploit" value="yes">
		<label for="">No</label>
		<input type="radio" name="available_exploit" value="no">
		<br>

		<input type="submit" value="Create">
	</form>

	{% endblock %}